.login {
  margin: $login-margin-v 0;

  > main {
    width: $login-width;

    h1 {
      margin-bottom: $login-h1-margin-bottom;
    }
  }

  .with {
    margin-top: $login-with-margin-top;

    a {
      fa {
        cursor: pointer;
        padding: 10px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px;

        &:hover {
          opacity: 0.8;
          color: white;
        }

        &.facebook {
          background: #3B5998;
          color: white;
        }

        &.github {
          background: #222;
          color: white;
        }

        &.google {
          background: #dd4b39;
          color: white;
        }

        .linkedin {
          background: #007bb5;
          color: white;
        }
      }
    }
  }
}
